blockquote {
  padding: 1.2em;
  border: 2px dashed #999;
}

ul ol {
  padding-inline-start: 1.2em;
  padding-left: -1.2em;
}

ol {
  margin-top: 1em;
  padding-inline-start: 1.2em;
  list-style-type: lower-alpha;
  list-style-position: inside;
  li {
    ol {
      list-style-type: lower-roman;
      li {
        ol {
          list-style-type: decimal;
        }
      }
    }
  }
}

