blockquote {
  padding: 1.2em;
  border: 2px dashed #999;
}

ul {
  padding-inline-start: 1.2em;
  padding-left: -1.2em;
  list-style-position: inside !important;
  margin-top: 1.2em !important;
  margin-bottom: 1.2em !important;
  list-style-type: disc !important;
}

ol {
  padding-inline-start: 1.2em;
  padding-left: -1.2em;
  list-style-position: inside;
  margin-top: 1.2em !important;
  margin-bottom: 1.2em !important;
  list-style-type: lower-alpha !important;
}

li {
  margin-bottom: 0.4em !important;
}

ol > li > ol {
  list-style-type: lower-roman !important;
  margin-top: 0.8em !important;
  margin-bottom: 0.8em !important;
}

ol > li > ol > li > ol {
  list-style-type: decimal !important;
  margin-top: 0.8em !important;
  margin-bottom: 0.8em !important;
}

dt {
  font-size: 112%;
  margin-top: 1.8em !important;
  margin-bottom: 1.2em !important;
}
