blockquote {
  padding: 1.2em;
  border: 2px dashed #999;
}

ul ol {
  padding-inline-start: 1.2em;
  padding-left: -1.2em;
  list-style-position: inside;
  margin-top: 1em;
}

ol {
  list-style-type: lower-alpha;
}

ol > li > ol {
  list-style-type: lower-roman;
}

ol > li > ol > li > ol {
  list-style-type: decimal;
}

dt {
  font-size: 112%;
  font-weight: bold;
}
