blockquote {
  padding: 1.2em;
  border: 2px dashed #999;
}

li ol {
  padding-inline-start: 1.2em;
  padding-left: -1.2em;
}

ol {
  margin-top: 1em;
  padding-inline-start: 1.2em;
  list-style-type: lower-alpha;
  list-style-position: inside;
  li {
    ol {
      list-style-type: lower-roman;
      li {
        ol {
          list-style-type: decimal;
        }
      }
    }
  }
}

// Headings
h1 {
  @include bold-48();

  margin-top: em(15, 32);
  margin-bottom: em(30, 32);

  @include media(tablet) {
    margin-top: em(30, 48);
    margin-bottom: em(60, 48);
  }

  .heading-secondary {
    @include heading-27();

    display: block;
    color: $secondary-text-colour;
  }

}

h2 {
  @include bold-36();

  margin-top: em(25, 24);
  margin-bottom: em(10, 24);

  @include media(tablet) {
    margin-top: em(45, 36);
    margin-bottom: em(20, 36);
  }

  .heading-secondary {
    @include heading-24();

    display: block;
    color: $secondary-text-colour;
  }

}

h3 {
  @include bold-24();

  margin-top: em(25, 20);
  margin-bottom: em(10, 20);

  @include media(tablet) {
    margin-top: em(45, 24);
    margin-bottom: em(20, 24);
  }

}

h4 {
  @include bold-19();

  margin-top: em(10, 16);
  margin-bottom: em(5, 16);

  @include media(tablet) {
    margin-top: em(20, 19);
  }

}